body {
  background-color: #f1f3f5;
}

.primary {
  background-color: #f9801d;
  color: #f1f3f5;
}

.switch-components {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
}
