body {
  background-color: #f1f3f5;
}

.primary {
  background-color: #f9801d;
  color: #f1f3f5;
}

.secondary {
  background-color: #808080;
  color: #f1f3f5;
}

.switch-components {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
}

.switch-components-safari {
  width: 100vw;
  height: 100dvh;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
}

.h-test {
  height: 100dvh;
}
